h1 {/*color: dimgray;*/
	font-family: "Courier New", Courier, monospace;
	text-align: center;
	font-size: 45px; 
	}
	
p {
	color: dimgray; 
	margin-left: 10px;
} 

h2 {text-align: center;}

body {
	background-image: url("back.jpg");
	background-color: ivory;
	/*background-repeat: no-repeat;
	background-position: center center;*/
	background-size: cover;
}

header { 
	border-style: solid;
	border-width: 2px;	
}

div {
	border-style: solid;
	border-width: 2px;
	border-radius: 40px;
	border-color: black; /*white;*/
	width: 1000px;/*700*/
	margin: 0 auto;
	margin-top: 40px;
	background-color: lightsteel­blue; /*cornsilk;*/
	text-align: left;
	text-indent: -10px;
	padding-left: 30px;	
	font-family: "Courier New", Courier, monospace;
	text-align: left;
	font-size: 17px; 
	background-color: ivory;
}

img {
	border-style: double;
	border-width: 4px;
	border-color: blue;
	margin: 0 auto;
	display: block;
}

button {
	margin-top: 20px;
	margin-left: 550px;
	border-radius: 25px;
	width: 200px;
	height: 50px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

footer {
	font-family: "Courier New", Courier, monospace;
	text-align: center;	
	margin-top: 10px;
	position: static;
}

fieldset {
	background-color: rgba(255,255,255,0.5); /*ivory; lightsteel­blue; lightcyan; ivory;*/
	/*opacity: 0.5;*/
	width: 400px;
	margin: 0 auto;
	margin-top: 50px;
	border-radius: 15px;
	text-align: center;
}

legend {
	/*font-family: "Courier New", Courier, monospace;*/
	font-size: 18px; 
}

em {
	color: red;
}

input {
	margin: 0 auto;
	display: block;
	margin-top: 5px;
}